<h1>Incomplete Todo Lists</h1>

<% @todo_lists.each do |todo_list| %>
  <% if todo_list.has_incomplete_items? %>
    <div class="todo_list" id="<%= dom_id(todo_list) %>">
      <%= render partial: "todo_list", locals: { todo_list: todo_list } %>    
    </div>
  <% end %>
<% end %>