// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.todo_list {
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 5px 0 5px 0;
  padding: 10px;
}

ul.functions {
  margin: 5px 0 0 0;
  padding: 0;
  float: left;
  list-style: none;
  fonts-size: 0.8em;
  clear: both;

  li {
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
  }  
}
